

.tblEstilo{
    border-collapse: collapse;
    border: 2px solid black;
    margin: 0 auto;
    text-align: center;


    &  th{
        background-color: rgb(108, 187, 108);
        border: 1px solid black;
        padding: 17px;
    }

    & td{
        border: 1px solid black;
        padding: 17px;


        &:first-child{
            text-align: center;
        }

        &:last-child{
            text-align: center;
        }

        & img {
            display: block;
            width: 30%;
            margin: 0 auto;
        }
    }

    & tr{
        background-color: #ccc;
        &:hover{
            background-color: #b0acac;
        }
    }
}

.openModalLink{
    color: black;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;

    &:hover{
        color: #b0acac;
        text-decoration: none;
    }
}
